<p id="notice"><%= notice %></p>

<h1>Quiz 2 KAY</h1>

<table>
  <thead>
    <tr>
      <th>user_id</th>
      <th>question_id</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_sets.each do |question_sets| %>
      <tr>
        <td><%= question_sets.user_id %></td>
        <td><%= question_sets.question_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>